@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

#landing *{
    margin: 0;
    padding: 0;
}

#landing html{
    scroll-behavior: smooth;
}

#landing a{
    text-decoration: none;
}

#landing body{
    font-family: "Open Sans", serif;
    background: #1D2027;
    color: #F6F7F6;
}

#landing header{
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 2rem;
    
}

#landing header ul{
    display: flex;
    justify-items: end;
    list-style-type: none;
}

#landing header li{
    margin-right: 2.5rem;
    cursor: pointer;
    height: 2rem;
    border-radius: 10px;
    padding: 0.75rem 0.65rem 0.7rem 0.50rem;

}

#landing header li:hover{
    background-color: #2c313d;
    transition: 0.3s;
    border: solid 1px white;
    color: #1B87EA;

}

#landing header a{
    color: #F6F7F6;
}

#landing header a:hover{
    transition: 0.3s;
    color: #1B87EA;

}


#landing .mainContent{
    margin: 14rem 0rem 0rem 3rem;
    font-size: 2rem;
}

#landing .mainContent ul{
    list-style: none;
    display: flex;
    margin-top: 4rem;
    margin-right: 4rem;
}

#landing .mainContent li{
    padding-right: 2rem;
}

#landing .mainContent a{
    border-radius: 5px;
    padding: 0.65rem 0.55rem 0.6rem 0.40rem;
    cursor: pointer;
    background: #1B87EA;
    color: #1D2027;
    font-size: 1rem;
    border: none;
    margin: 7rem 1.5rem 0rem 0rem;
    box-shadow: 1px 0.75px 5px #1B87EA;
    text-decoration: none;
}

#landing .mainContent a:hover{
   transition: 0.3s;
   background-color: #115ca1;
   color: #F6F7F6;
}

#landing .destaque{
    color: #1B87EA;
}

#landing #saibaMais{
    margin: 14rem 3rem 2rem 3rem;
    font-size: 2rem;
}

#landing .cards{
    display: flex;
    justify-content: space-between;

}

#landing .card{
    width: 450px;
    background-color: #F6F7F6;
    color: #1B87EA;
    margin-top: 50px;
   
}

#landing .card .text{
    padding: 1vh 3vh;
}

#landing .mapContainer{
    margin-top: 300px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}